@media (max-width: 600px) {
.image-text-container {
    display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border: 2px solid #ddd;       
  border-radius: 10px;          
  box-shadow: 0 4px 15px rgb(209, 113, 30); 
  background: #fff;         
  max-width: 800px;             
  margin: 20px auto;             
}

@font-face {
                  font-family: 'CookieRun';
                  src: url('CookieRun Regular.otf') format('opentype');
                  font-weight: 400;
                  font-style: normal;
                  font-display: swap; 
  }
  @font-face {
                  font-family: 'CookieRun';
                  src: url('CookieRun Bold.otf') format('opentype');
                  font-weight: 700;
                  font-style: normal;
                  font-display: swap;
            }

  @font-face {
                  font-family: 'CookieRun';
                  src: url('CookieRun Black.otf') format('opentype');
                  font-weight: 900;
                  font-style: normal;
                  font-display: swap;
            }

}


.img {
  display: flex;
  justify-content: flex-start;
  transition: transform 0.3s;
  border: 8px solid #c58e54;
  border-radius: 10px;
  box-shadow: 4px 4px 10px #0000001a;
  object-fit: cover;
  width: 350px;
  height: 350px;
  border-radius: 10px;
  transform: translateY(115px);
  margin-left: 100px;
  margin-bottom: 160px;
}

.img:hover {
  transform: scale(1.1);
  filter: brightness(80%);
}

.center-line {
    text-align: center;
    position: relative;
    top: 15px;
    right: 25px;
    margin-bottom: 10 px;
    color:rgb(156, 79, 11);
    font-size: 60px;
}

.center-line::after {
content: "";
display: block;
width: 130px;
height:5px;
background-color:rgb(156, 79, 11);
margin: 8px auto 0;
border-radius: 5px;
}

.wrapper-about-content .about-text {
    text-align: center;
    position: absolute;
    opacity: 100%;
    top: 1px;
    right: 250px;
    max width: 600px;
    color: rgb(250,250,250);
    font-size: 20px
}


.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.video-background video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: absolute;
  bottom: 140px;
  right: 400px;
  z-index: 3;
  color: rgb(83, 23, 23);
  text-align: left;
  margin-top: 10px;
  font-size: 25px;
}

.head {
    color:rgb(156, 79, 11);
}


.container {
    display: flex;
    align-items: center;
    gap: 20 px;
    position: relative;
    padding: 80px;
}

.text {
    max-width: 500px;
}



.learn-box summary {
  bottom: 148px;
  left: 700px;
  transform: translateX(-50%);
  font-weight: bold;
  padding: 10px 20px;
  background: #ff6347;
  color: white;
  width: fit-content;
  border-radius: 30px;
  margin-top: 430px;
  margin-left: 160px;
}

.learn-box summary:hover {
  background: #e6543d;
}

.social-links {
  display: flex;
  position: absolute;
  bottom: 145px;
  left: 820px;
  gap: 20px;    
  justify-content: center;       
  align-items: center;
}

.social-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #151515;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.15s ease, background-color 0.15s ease;
}

.social-icon img {
  width: 40px;
  height: 40px;
}

.social-icon:hover {
  transform: translateY(-1px);
}

.about-text {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.881);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  left:170px;
  top:180px;
}

.about-text p {
  color: white;
  text-align: center;
}

.about-text h2 {
  color: rgb(185, 99, 19);
  text-align: center;
}

.backdrop {
  position: absolute;
  inset: 0;
}

.details .about-text {
  margin: 4rem auto;
  width: min(90%, 600px);
}
